/*--备份--*/
img{width:100%;height:100%;}
*{margin:0px;padding:0px;border:0px;color:white;font-size:18px;border-radius:0.2em;}

add 
/*--首页--*/
delete
/*--列表--*/
.title{position:relative; top:-60px;height:40px;font-size:25px; line-height:40px;background:url(img/titleBg.png); text-align:center;border-radius:0px 0px 0px 0px;}

/*--详情--*/
.text0{update:absolute;left:360px;width:300px;height:40px;font-size:23px; text-align:left;color:#cdcdcd;}
.playBtn{position:absolute;top:400px;width:200px;height:100px;}
.recommend{position:absolute;top:510px;width:120px;height:170px;display:none;}
.exitBg{position:absolute;top:90px;width:120px;height:170px;}
.recName{position:absolute;top:140px;width:120px;height:30px;line-height:30px;font-size:18px; text-align:center;background:url(img/titleBg.png);}
.num{position:absolute;width:80px;height:80px; line-height:80px; text-align:center; border-radius:100%;font-size:35px; border:white 2px solid;}
.num09{position:absolute;width:500px;height:60px; line-height:60px; padding-left:5px; font-size:25px; border:white 2px solid;}
.num09bak{position:absolute;width:500px;height:60px;line-height:60px;padding-left:5px; text-align:center;font-size:25px; background:url(img/chooseBgList1.png) no-repeat;}
.buy{position:absolute;left:50px;width:500px;height:50px; line-height:50px;}
.buyText{position:relative;top:-50px;}

.chapter{width:89px;height:50px;float:left; margin-right:10px; margin-bottom:15px; line-height:50px; font-size:30px;text-align:center; background-image:url(img/chapter0.png);border-radius:0em;}
.chapterPage{width:141px;height:47px;float:left; margin-right:5px;line-height:47px; font-size:25px;text-align:center; background-image:url(img/chapterPage0.png);border-radius:0em;}

/*--备份--*/
.spinner {
  left:45%;
  top:45%;
  width:10%;
  height:10%;
  position:absolute;
}
 
.container1 > div, .container2 > div, .container3 > div {
  width:10px;
  height:10px;
  background-color:blue;
 
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
 
.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
 
.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
 
.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }
 
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
 
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
 
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
 
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
 
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
 
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
 
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}